<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<section>
		<div class="card me-4 ms-3">
			<div class="card-body">
				<h1 class="text-center">Your Contacts</h1>
				<!--  Search Contact  -->
				<div class="search-container my-4">
					<input onkeyup="search()" type="text" class="form-control" placeholder="search your contacts" id="search-input" />
					<div class="search-result">
						<!--  result goes here  -->
						
					</div>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Id</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Phone</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c : ${contacts}">
							<th scope="row" th:text="${'PBM2024'+c.cId}">1</th>
							<td><a th:href="@{'/user/'+${c.cId}+'/contact'}"><img class="my_profile_picture"
										th:src="@{'/img/'+${c.image}}" alt="profile photo" /></a><span
									th:text="${c.name}"></span></td>
							<td><span th:text="${c.email}"></span></td>
							<td th:text="${c.phone}">@mdo</td>
							<td>
								<button th:onclick="|deleteContact(${c.cId})|"
									class="btn btn-danger btn-sm">Delete</button>
								<form th:action="@{'/user/update-contact/'+${c.cId}}" method="post" class="mt-2">
									<button type="submit" class="btn btn-primary btn-sm">Update</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>

				<!--  Pagination  -->
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li th:if="${currentPage != 0}" class="page-item">
							<a th:href="@{'/user/show-contacts/'+${currentPage-1}}" class="page-link" href="#"
								aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li th:classappend="${currentPage==i-1?'active':''}"
							th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item">
							<a class="page-link" th:href="@{'/user/show-contacts/'+${i-1}}">
								<span th:text="${i}"></span>
							</a>
						</li>
						<li th:if="${currentPage+1 != totalPages}" class="page-item">
							<a th:href="@{'/user/show-contacts/'+${currentPage+1}}" class="page-link" href="#"
								aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</section>
</body>

</html>