<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<section>
		<div class="card me-3 ms-2">
			<div class="card-body">
				<h1 class="text-center">Update Contact</h1>
				<div class="container-fluid mt-4">
					<div class="row">
						<div class="col-md-8 offset-md-2">
							<form th:action="@{/user/process-update}" th:object="${contact}"
								enctype="multipart/form-data" method="post" class="mt-2">
								<input type="hidden" th:value="${contact.cId}" name="cId" />
								<!--  First Name  -->
								<div class="input-group">
									<div class="input-group-text">
										<div class="input-group-text">
											<i class="fa fa-plus"></i>
										</div>
									</div>
									<input type="text" id="firstName" name="name" placeholder="Enter Name here"
										th:value="${contact.name}" class="form-control" required />
								</div>
								<!--  Second Name  -->
								<div class="input-group mt-3">
									<div class="input-group-text">
										<div class="input-group-text">
											<i class="fa-solid fa-at"></i>
										</div>
									</div>
									<input type="text" id="secondName" name="secondName" placeholder="Enter Nick Name"
										th:value="${contact.secondName}" class="form-control" />
								</div>
								<!--  Phone Number Field  -->
								<div class="input-group mt-3">
									<div class="input-group-text">
										<div class="input-group-text">
											<i class="fa-solid fa-phone"></i>
										</div>
									</div>
									<input type="text" min="10" max="13" id="phone" name="phone"
										placeholder="Enter Phone Number" th:value="${contact.phone}"
										class="form-control" />
								</div>
								<!--  Email Field  -->
								<div class="input-group mt-3">
									<div class="input-group-text">
										<div class="input-group-text">
											<i class="fa-solid fa-inbox"></i>
										</div>
									</div>
									<input type="email" id="email" name="email" placeholder="Enter Email Id"
										th:value="${contact.email}" class="form-control" />
								</div>
								<!--  Work Field  -->
								<div class="input-group mt-3">
									<div class="input-group-text">
										<div class="input-group-text">
											<i class="fa-solid fa-briefcase"></i>
										</div>
									</div>
									<input type="text" id="work" name="work" placeholder="Profection"
										th:value="${contact.work}" class="form-control" />
								</div>
								<!--  Contact Description  -->
								<div class="form-group mt-3">
									<textarea class="form-control" placeholder="Enter the contact description..."
										name="description" id="description" cols="20" rows="5"
										th:text="${contact.description}"></textarea>
								</div>
								<!--  Contact Image  -->
								<div class="custom-file mt-3">
									<img style="height: 80px; width: 80px;" class="img-fluid my_profile_picture"
										th:src="@{'/img/'+${contact.image}}" alt="" />
									<input type="file" name="profileImage" accept="image/png, image/jpeg" />
									<p class="text-secondary">Choose new profile photo</p>
								</div>
								<div class="container text-center mt-2 "><button class="btn btn-outline-primary">Save
										Contact</button></div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>