<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<section class="banner d-flex justify-content-center align-items-center flex-column">
		<h1>Wellcome To Your PhoneBook</h1>
		<p>Start Collecting your contacts in very smarter way. We provide very effcient and smarter way of handling
			contacts</p>
		<button class="btn bg-primary btn-lg text-white">Get Start</button>
	</section>
</body>

</html>